* {
    box-sizing: border-box;
    padding:0;
    margin:0;

}
.container {
    width:100%;
    min-height: 100vh;
    height:100%;
    background-color:black;
    color:white;
    font-size:62.5%;
  
}

.wrapper {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:4rem 0;

}

.container__top {
    display:flex;
    width:80%;
    justify-content:space-around;
    align-items: center;
}
.containerTop__image {
    width:12rem;
    height:12rem;
    border-radius:2rem 2rem 0 0;
}

.image__top {
    width:100%;
    height:100%;
    border-radius:50%;


    object-fit: cover;
}

.containerTop__inputs {
    display : flex;
    flex-direction:column;
}

.label__image {
    width:20rem;
    height:2.5rem;
    margin:.4rem 0;
    border-radius:5px;
    padding:1rem 0;
    font-size: 1.3rem;
    font-weight: bold;
    background:#fff;
    color:black;
    display: flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.input__image {
   display:none;
}

.input {
    width:20rem;
    height:2.5rem;
    margin:.4rem 0;
    border-radius:5px;
    outline:none;
    border:0;
    padding-left:.5rem;
    font-size: 1.3rem;

}

.btn {
    width:20rem;
    border-radius:5px;
    outline:none;
    border:0;
    font-size: 1.3rem;
    cursor:pointer;
    padding:.5rem;
    text-align: center;
    background:grey;
    color: #fff;
    margin-top:1rem;
    transition: transform 350ms;
    
}
.btn:hover {
    background:teal;
    transform : scale(1.02)
}

.card__container {
    display:flex;
    justify-content:center;
    flex-wrap : wrap;
    margin-top:5rem;
}

.card {
    padding:2rem;
    width:25rem;
    /* height:30rem; */
    border-radius: 1.5rem;
    background:blue;
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__top {
width:100%;
display: flex;
justify-content: space-between;
margin-bottom: 3rem;
align-items: center;
}



.btn--cancel {
font-size: 2rem;
color:red;
cursor:pointer;
}

.card__image {
    width:5rem;
    height:5rem;
    border-radius:50%;
    background-color:#fff;
    object-fit: cover;
}

.card__quote {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

.card__name {
    font-size:2rem;
    flex:1;
    margin:2rem 0;
    color:#00ffff;
}

.card__time {
    font-size: 2rem;
    color:#ff0000;


}